           center {
                width: 100%;
            }
            body {
                margin: 0%;
            }
            
            canvas {
                margin: 0%;
                width: 100%;
                height: 100%;
                padding: 0%;
                border: none;
                display: block;
            }

            ::-webkit-scrollbar {
                display: none;
            }
            h1 {
                margin: 0%;
                padding: 5px;
                border: none;
                display: block;
                font-family: Source Code Light, tlwg typewriter, terminal, arial;
                display: block;
            }
            .navbar {
                width: 25%;
                height: 7%;
                font-family: Source Code Light, tlwg typewriter, terminal, arial;
                display: inline-block;
                padding-top: 1%;
                padding-bottom: 1%;
            }            
            h2 {
                margin: 0%;
                padding: 5px;
                border: none;
                display: block;
                font-family: Source Code Light, tlwg typewriter, terminal, arial;
                display: block;
                background-color: #000000;
                color: #ffffff;
                width: 30%;
            }
            p {
                width: 30%;
                margin: 0%;
                padding: 5px;
                border: none;
                display: block;
                font-family: Source Code Light, tlwg typewriter, terminal, arial;
                display: block;
                color: #000000;
                background-color: rgba(0,0,0,0.1);
            }
            iframe {
                display: block;
            }

            #generate {
                width: 25%;
                height: 7%;
                font-family: Source Code Light, tlwg typewriter, terminal, arial;
                display: block;
                padding-top: 1%;
                padding-bottom: 1%;
            }

            #popup {
                width: 30%;
                height: 10vh;
                background-color: rgba(107, 212, 37,0.9);
                border-radius: 5px;
                position: fixed;
                float: center;
                left: 35%;
                top: 0%;
                animation: popup 1s;
                font-family: Source Code Light, tlwg typewriter, terminal, arial;
                font-size: 20px;
            }

            @keyframes popup {
                from {
                    left: 50%;
                    width: 0vw;
                    opacity: 0;
                }
                to {
                    left: 35%;
                    width: 30%;
                    opacity: 1;
                }
            }

           @keyframes popdown {
                from {
                    left: 35%;
                    width: 30vw;
                    opacity: 1;
                }
                to {
                    left: 50%;
                    width: 0%;
                    opacity: 0;
                }
            }            