           center {
                width: 100%;
            }
            body {
                margin: 0%;
            }

            ::selection {
                background: red;
            }
            
            canvas {
                margin: 0%;
                width: 100%;
                height: 100%;
                padding: 0%;
                border: none;
                display: block;
            }

            ::-webkit-scrollbar {
                width: 3px;
            }
 

           ::-webkit-scrollbar:hover {
                width: 20px;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #F26419;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #00cc44;
            }
 

            h1 {
                margin: 0%;
                padding: 5px;
                border: none;
                display: block;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                display: block;
            }
            .navbar {
                width: 24%;
                height: 7%;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                display: inline-block;
                padding-top: 1%;
                padding-bottom: 1%;
                border: 5px solid black;
            }            
            h2 {
                margin: 0%;
                padding: 5px;
                border: none;
                display: block;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                display: block;
                background-color: #000000;
                color: #ffffff;
                width: 30%;
            }
            p {
                width: 30%;
                margin: 0%;
                padding: 5px;
                border: none;
                display: block;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                display: block;
                color: #000000;
                background-color: rgba(0,0,0,0.4);
            }
            iframe {
                display: none;
            }

            #generate {
                width: 25%;
                height: 7%;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                display: block;
                padding-top: 1%;
                padding-bottom: 1%;
            }

            #popup {
                width: 30%;
                height: 10vh;
                background-color: rgba(107, 212, 37,0.9);
                border-radius: 5px;
                position: fixed;
                float: center;
                left: 35%;
                top: 0%;
                animation: popup 1s;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                font-size: 20px;
            }

            @keyframes popup {
                from {
                    left: 50%;
                    width: 0vw;
                    opacity: 0;
                }
                to {
                    left: 35%;
                    width: 30%;
                    opacity: 1;
                }
            }

           @keyframes popdown {
                from {
                    left: 35%;
                    width: 30vw;
                    opacity: 1;
                }
                to {
                    left: 50%;
                    width: 0%;
                    opacity: 0;
                }
            }            

            #vid_expand {
                width: 15vh;
                height: 5vh;
                background-color: background-color: rgba(0,0,0,0.4);;
                font-size: 23px;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
            }

            #downloads {
                width: 25%;
                height: 7%;
                font-family: Source Code Pro, tlwg typewriter, terminal, arial;
                display: block;
                padding-top: 1%;
                padding-bottom: 1%;

            }
